/* Idea for the gradient-effect inspired by Kevin Powell
  Source: https://codepen.io/kevinpowell/pen/BavVLra */

/* In case user disabled animation */
.scroller-inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
/* else -> */
.scroller[data-animated="true"] {
  overflow: hidden;
  flex-wrap: nowrap;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 40%,
    white 60%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 40%, white 60%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  width: max-content;
  animation: scroll 80s linear infinite;
  flex-wrap: nowrap;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 1rem));
  }
}

.scroller-images {
  width: clamp(14rem, 10rem + 7vw, 17rem);
  height: clamp(14rem, 10rem + 7vw, 17rem);
}
