.background-image {
  background-image: url("/assets/images/background-space.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
